* {
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: "MADE Evolve Sans", sans-serif;
  font-weight: normal;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  width: 100%;
  min-height: 100vh;
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
}

span.marker {
  padding: 0 10px;
  color: #000000;
  background: #fffa54;
  border-radius: 10px;
}

.header-main__logo img,
.info-main__search-field img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.container {
  width: 1080px;
}

.header-main {
  width: 100%;
  height: 140px;

  background: #ffffff;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-main > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-main__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-main__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-main__auth-ava {
  width: 46px;
  height: 46px;
  margin-right: 16px;
}

.header-main__auth-name {
  font-size: 21px;
  line-height: 24px;

  color: #000000;
}

.auth-panel {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.auth-panel .select-panel {
  position: absolute;
  padding: 28px 46px 27px 36px;
  top: calc(100% + 5px);
  right: -10px;

  background: #fffa54;
  -webkit-box-shadow: 0px 20px 25px rgba(255, 250, 84, 0.16),
    0px 10px 10px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 20px 25px rgba(255, 250, 84, 0.16),
    0px 10px 10px rgba(0, 0, 0, 0.04);
  border-radius: 25px;

  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.auth-panel .select-panel.visible {
  opacity: 1;
  visibility: visible;
}

.auth-panel .select-panel a {
  font-size: 18px;
  line-height: 21px;
  color: #000000;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.auth-panel .select-panel a:first-child {
  margin-bottom: 18px;
}

.header-main__auth img {
  margin-right: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.header-main__auth nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-main__auth nav a {
  font-size: 21px;
  line-height: 24px;
  color: #000000;
}

.header-main__auth nav a:first-child {
  margin-right: 5px;
}

.footer-main {
  width: 100%;
  height: 100px;

  background: #ffffff;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.footer-main > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-main nav a {
  font-size: 21px;
  line-height: 24px;
  color: #000000;
  margin-left: 22px;
}

.footer-main .copy {
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}

.profile .info-main__description {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 39px;
}

.addSP {
  width: 232px;
  height: 40px;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  background: #000000;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100px;
  margin-left: 12px;
}

.addSP img {
  margin-right: 6px;
}

.info-main {
  width: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  margin-top: 71px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.info-main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.info-main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info-main__header * {
  text-align: center;
}

.info-main__h1 {
  font-size: 50px;
  font-weight: bold;
  line-height: 59px;
  color: #000000;
}

.info-main__h1 span {
  font-weight: normal;
}

.info-main__description {
  width: 589px;

  margin-top: 17px;

  font-size: 21px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.info-main__search {
  margin-top: 35px;
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info-main__search-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  position: relative;
  background: #ffffff;
  border-radius: 100px;
  width: 765px;
  height: 50px;
  overflow: hidden;
}

.info-main__search-field input {
  background: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 60px 0 25px;

  width: 100%;
  height: 100%;

  font-family: "MADE Evolve Sans", sans-serif;
  font-size: 20px;
  color: #000000;
}

.info-main__search-field input::-webkit-input-placeholder {
  color: #bebebe;
  opacity: 1;
}

.info-main__search-field input::-moz-placeholder {
  color: #bebebe;
  opacity: 1;
}

.info-main__search-field input:-ms-input-placeholder {
  color: #bebebe;
  opacity: 1;
}

.info-main__search-field input::-ms-input-placeholder {
  color: #bebebe;
  opacity: 1;
}

.info-main__search-field input::placeholder {
  color: #bebebe;
  opacity: 1;
}

.info-main__search-field input:-ms-input-placeholder {
  color: #bebebe;
}

.info-main__search-field input::-ms-input-placeholder {
  color: #bebebe;
}

.info-main__search-field img {
  position: absolute;
  right: 26px;
}

.info-main__search-filters {
  position: absolute;
  left: calc(100% + 16px);
}

.info-main__search-filters #filter {
  cursor: pointer;
}

.modal-login,
.modal-registr {
  width: 340px;
}

.modal-login form input,
.modal-registr form input {
  margin-bottom: 21px;
}

.modal-form {
  padding: 42px 47px 66px 49px;
}

.modal-form form {
  margin-top: 43px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.modal-form form input {
  width: 100%;
  height: 45px;

  background: transparent;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50px;

  color: #000000;
  font-size: 18px;
  line-height: 21px;
  padding: 0 23px;
  font-family: "MADE Evolve Sans", sans-serif;
}

.modal-form form button {
  width: 130px;
  height: 40px;

  background: #000000;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100px;

  margin-top: 22px;
  color: #fff;
  font-size: 17px;
  font-family: "MADE Evolve Sans", sans-serif;
  cursor: pointer;
}

.modal-form form input::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}

.modal-form form input::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.modal-form form input:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.modal-form form input::-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.modal-form form input::placeholder {
  color: #000000;
  opacity: 1;
}

.modal-form form input:-ms-input-placeholder {
  color: #000000;
}

.modal-form form input::-ms-input-placeholder {
  color: #000000;
}

.white-close .modal-close {
  color: #ffffff;
  bottom: calc(100% + 14px);
}

.white-close .modal-close::before {
  content: "";

  display: inline-block;
  width: 9px;
  height: 9px;

  background: url(../images/close-w.svg) no-repeat top center;
  background-size: cover;
}

.black-close .modal-close {
  color: #000000;
  top: 22px;
}

.black-close .modal-close::before {
  content: "";

  display: inline-block;
  width: 9px;
  height: 9px;

  background: url(../images/close-b.svg) no-repeat top center;
  background-size: cover;
}

.modal-close {
  background: transparent;

  font-size: 17px;
  line-height: 20px;

  position: absolute;
  right: 25px;
  cursor: pointer;
}

.infoCard__info {
  width: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.infoCard__info-qr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.infoCard__info-qr img {
  width: 228px;
  height: 228px;
}

.infoCard__info-qr__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin-top: 24px;

  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.infoCard__info-qr__other .age {
  width: 33px;
  height: 33px;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 50%;

  margin-right: 8px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.infoCard__info-main {
  width: 470px;
  color: #000000;
  text-align: left;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.infoCard__info-main .heading {
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 11px;
}

.infoCard__info-main .theme {
  font-size: 18px;
  line-height: 21px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.infoCard__info-main .theme img {
  margin-right: 12px;
}

.infoCard__info-main .info {
  margin-top: 20px;

  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.infoCard__slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  margin-top: 40px;
}

.infoCard__slider-slide {
  width: 305px;
  height: 360px;
  margin: 0 10px;
  border-radius: 10px;
  overflow: hidden;
}

.infoCard__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  margin-top: 32px;
}

.infoCard__control .hash {
  font-size: 17px;
  line-height: 20px;
  color: #4c5764;
}

.infoCard__control .link {
  width: 92px;
  height: 40px;

  font-size: 17px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  background: #000000;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100px;

  margin-right: 9px;
}

.info-main__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin-top: 81px;
  margin-bottom: 210px; /* при необходимости убрать */
}

.info-main__table.full-size,
.info-main__table-column,
.info-main__table-list {
  width: 100%;
}

.info-main__table.half-size {
  margin-top: 90px;
  padding-top: 69px;
  padding-bottom: 26px;
  padding-right: 40px;
  border-right: solid 1px #000000;
  width: 707px;
}

.info-main__table.half-size .info-main__table-list__item {
  cursor: pointer;
}

.info-main__table.half-size .info-main__table-list__item:hover::before,
.info-main__table.half-size .info-main__table-list__item:hover::after {
  opacity: 1;
  visibility: visible;
}

.info-main__table.half-size .info-main__table-list__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.info-main__table.half-size .info-main__table-list__item::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 47px;
  height: 20px;
  background: url(../images/edit.svg) no-repeat top center;
  background-size: cover;
  z-index: 12;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.profile-main .edit-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: 40px;
  margin-top: 106px;
}

.profile-main .edit-panel h1 {
  font-size: 50px;
  line-height: 59px;
  color: #000000;
  font-weight: bold;
}

.profile-main .edit-panel form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 43px;
}

.profile-main .edit-panel form .success-panel {
  width: 253px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 3px;
}

.profile-main .edit-panel form .success-panel button {
  width: 130px;
  height: 40px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  font-size: 17px;
  line-height: 20px;
  color: #000000;
  cursor: pointer;

  background: #fffa54;
  -webkit-box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1),
    0px 4px 6px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.06);
  border-radius: 100px;
}

.profile-main .edit-panel form .success-panel a {
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */

  color: #4c5764;
}

.profile-main .edit-panel form input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 23px;
  width: 278px;
  height: 45px;
  background: transparent;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 50px;
  margin-bottom: 21px;

  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.profile-main .edit-panel form input:disabled {
  background: #ffffff;
}

.info-main__table-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.info-main__table-column span {
  font-size: 17px;
  line-height: 20px;
  color: #000000;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.info-main__table-column span img {
  margin-right: 9px;
}

#column-theme img:nth-child(2) {
  margin-left: 9px;
}

#column-name,
.info-main__table-list__item-name {
  width: 320px;
}

#column-name {
  margin-left: 116px;
}

#column-theme,
.info-main__table-list__item-theme {
  width: 165px;
}

#column-region,
.info-main__table-list__item-region {
  width: 150px;
}

#column-age,
.info-main__table-list__item-age {
  width: 160px;
}

.info-main__table.half-size #column-age,
.info-main__table.half-size .info-main__table-list__item-age {
  width: 60px;
}

.info-main__table.half-size #column-region,
.info-main__table.half-size .info-main__table-list__item-region {
  width: 86px;
}

.info-main__table.half-size #column-theme,
.info-main__table.half-size .info-main__table-list__item-theme {
  width: 140px;
}

.info-main__table.half-size #column-name,
.info-main__table.half-size .info-main__table-list__item-name {
  width: 240px;
}

.info-main__table.half-size .del-icon {
  cursor: pointer;
}

.info-main__table-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info-main__table-list__item {
  width: 100%;
  height: 100px;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1),
    0px 4px 6px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.06);
  border-radius: 100px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;

  margin-bottom: 20px;
}

.info-main__table-list__item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.info-main__table-list__item-name h5 {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;

  color: #4c5764;
  margin-bottom: 2px;
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info-main__table-list__item-ava {
  width: 51px;
  height: 51px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  border-radius: 50%;
  margin-left: 35px;
  margin-right: 30px;
  overflow: hidden;

  position: relative;
}

.info-main__table-list__item-ava::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;

  background: url(../images/hover.svg) no-repeat top center;
  background-size: cover;

  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.full-size.info-main__table-list__item-ava:hover::before {
  opacity: 1;
  visibility: visible;
}

.info-main__table-list__item-ava img {
  width: 100%;
  height: 100%;
}

.info-main__table-list__item-name h5.king::after {
  content: "";
  width: 16px;
  height: 11px;
  background: url(../images/king.svg) no-repeat top center;
  background-size: cover;

  position: absolute;
  left: calc(100% + 7px);
}

.info-main__table-list__item-name a.hash {
  font-size: 19px;
  line-height: 22px;

  color: #6a9cd7;
}

.info-main__table-list__item-theme,
.info-main__table-list__item-region,
.info-main__table-list__item-age {
  font-size: 18px;
  line-height: 21px;
  color: #4c5764;
}

.info-main__table-list__item-contacts {
  width: 130px;
  height: 40px;

  font-size: 17px;
  line-height: 20px;

  color: #000000;

  background: transparent;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info-main__search-filters__dropdown-menu {
  opacity: 0;
  visibility: hidden;
  z-index: 13;

  padding: 42px 44px 40px 44px;

  position: absolute;
  top: -30px;
  right: -29px;

  background: #fffa54;
  -webkit-box-shadow: 0px 20px 25px rgba(255, 250, 84, 0.16),
    0px 10px 10px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 20px 25px rgba(255, 250, 84, 0.16),
    0px 10px 10px rgba(0, 0, 0, 0.04);
  border-radius: 25px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  -webkit-transition: all 0.5s ease;

  -o-transition: all 0.5s ease;

  transition: all 0.5s ease;
}

.info-main__search-filters__dropdown-menu .control-panel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.info-main__search-filters__dropdown-menu .control-panel .link {
  width: 130px;
  height: 40px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  background: #000000;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100px;

  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
}

.info-main__search-filters__dropdown-menu .control-panel .hash {
  font-size: 17px;
  line-height: 20px;
  color: #4c5764;
}

.info-main__search-filters__dropdown-menu.visible {
  opacity: 1;
  visibility: visible;
}

.ddm-close {
  font-size: 17px;
  line-height: 20px;
  color: #000000;

  position: absolute;
  background: transparent;

  bottom: calc(100% + 10px);
  right: 16px;
  cursor: pointer;
}

.ddm-close::before {
  content: "";

  display: inline-block;
  width: 9px;
  height: 9px;
  margin-right: 6px;

  background: url(../images/close-b.svg) no-repeat top center;
  background-size: cover;
}

.info-main__search-filters__dropdown-menu label {
  width: 208px;

  font-size: 21px;
  line-height: 24px;
  color: #000000;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  margin-bottom: 46px;
}

.info-main__search-filters__dropdown-menu label .custom-select {
  width: 200px;
  margin-top: 25px;
}

.info-main__search-filters__dropdown-menu label:last-child {
  margin-bottom: 40px;
}

/* custom select */
.custom-select {
  position: relative;
  font-family: "MADE Evolve Sans", sans-serif;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: transparent;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;
}

.custom-select.icon-arrow .select-selected:after {
  position: absolute;
  content: "";
  top: 21px;
  right: 19px;
  width: 9px;
  height: 5px;
  background: url(../images/arrow-bottom.svg) no-repeat top center;
  background-size: cover;
}
.custom-select.icon-src .select-selected:after {
  position: absolute;
  content: "";
  top: 13px;
  right: 13px;
  width: 20px;
  height: 20px;
  background: url(../images/search.svg) no-repeat top center;
  background-size: cover;
}

.select-selected.select-arrow-active {
  border-bottom: 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.select-items div,
.select-selected {
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  padding: 12px 0;
  padding-left: 28px;
  padding-right: 19px;
  cursor: pointer;
}

.select-items {
  overflow: hidden;
  background-color: transparent;
  border: solid 1px #000;
  border-top: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.2);
}

.profile-main {
  width: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.addNew__form {
  width: 100%;
  margin-top: 40px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.addNew__form .left,
.addNew__form .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.addNew__form input,
.addNew__form .inputfile {
  font-family: "MADE Evolve Sans", sans-serif;
  width: 280px;
  height: 45px;
  padding-left: 23px;

  font-size: 18px;
  line-height: 21px;

  color: #000000;

  background: transparent;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50px;
  box-sizing: border-box;
}

.addNew__form .inputfile {
  margin: 48px 0 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#output-input-file {
  text-align: left;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.addNew__form .output-pic {
  width: 298px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 33px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.addNew__form .output-pic div {
  margin-bottom: 15px;
  width: 75px;
  height: 101px;
  margin-right: 13px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.addNew__form .output-pic div::before {
  content: "";
  width: 75px;
  height: 101px;
  position: absolute;

  opacity: 0;
  visibility: hidden;
  background: url(../images/1f.svg) no-repeat top center;
  background-size: cover;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.addNew__form .output-pic div:hover::before {
  opacity: 1;
  visibility: visible;
}

.addNew__form .output-pic div img {
  width: 70px;
  height: 39px;
}

.addNew__form .inputfile #add-input-file {
  height: 100%;
  width: 116px;
  background: #000000;
  cursor: pointer;
  border-radius: 50px;

  font-family: "MADE Evolve Sans", sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
}

.addNew__form .inputfile .input {
  display: none;
}

.addNew__form .custom-select {
  margin-top: 25px;
  width: 298px;
  text-align: left;
}

.addNew__form textarea {
  font-family: "MADE Evolve Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  width: 380px;
  height: 537px;

  resize: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 22px;
  background: transparent;

  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
}

.addNew__form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  font-size: 21px;
  line-height: 24px;

  color: #000000;
}

.addNew__form label textarea {
  margin-top: 25px;
}

.addNew__form input::-webkit-input-placeholder,
.addNew__form textarea::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}

.addNew__form input::-moz-placeholder,
.addNew__form textarea::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.addNew__form input:-ms-input-placeholder,
.addNew__form textarea:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.addNew__form input::-ms-input-placeholder,
.addNew__form textarea::-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.addNew__form input::placeholder,
.addNew__form textarea::placeholder {
  color: #000000;
  opacity: 1;
}

.addNew__form input:-ms-input-placeholder,
.addNew__form textarea:-ms-input-placeholder {
  color: #000000;
}

.addNew__form input::-ms-input-placeholder,
.addNew__form textarea::-ms-input-placeholder {
  color: #000000;
}

.addNew__control {
  width: 226px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 60px;
}

.addNew__control .hash {
  font-size: 17px;
  line-height: 20px;
  color: #4c5764;
}

.addNew__control .link {
  width: 156px;
  height: 40px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  background: #000000;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100px;

  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
}

/* fonts */

@font-face {
  font-family: "MADE Evolve Sans";
  src: url("../fonts/MADEEvolveSans-Thin.woff2") format("woff2"),
    url("../fonts/MADEEvolveSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "MADE Evolve Sans";
  src: url("../fonts/MADEEvolveSans-Medium.woff2") format("woff2"),
    url("../fonts/MADEEvolveSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MADE Evolve Sans";
  src: url("../fonts/MADEEvolveSans.woff2") format("woff2"),
    url("../fonts/MADEEvolveSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MADE Evolve Sans";
  src: url("../fonts/MADEEvolveSans-Light.woff2") format("woff2"),
    url("../fonts/MADEEvolveSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MADE Evolve Sans";
  src: url("../fonts/MADEEvolveSans-Bold.woff2") format("woff2"),
    url("../fonts/MADEEvolveSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
